body {
    background-color: #ffe680;
    margin: 0px;
    padding: 0px;
}

.panda {
    position: absolute;
    top: 40%;
    left: 43%;
    height: 120px;
    width: 80px;
    background-color: white;
    border: 5px solid black;
    border-radius: 30%;
}

.belly {
    position: relative;
    top: 5%;
    left: 6.5%;
    height: 90px;
    width: 70px;
    background-color: black;
    border-radius: 30%;
}

.face {
    position:relative;
    background-color: white;
    border: 5px solid black;
    height: 90px;
    width: 110px;
    border-radius: 50%;
    bottom: 135px;
    right: 20px;
}

.ear-l, .ear-r {
    position:relative;
    background-color: black;
    height: 25px;
    width: 40px;
    border-radius: 0px 0px 40px 40px;
}

.ear-l {
    transform: rotate(145deg);
    bottom: 13px;
    right: 8px;
}

.ear-r {
    transform: rotate(-145deg);
    left: 78px;
    bottom: 38px;
}

.eye-l, .eye-r {
    position: relative;
    background-color: black;
    width: 28px;
    height: 33px;
    border-radius: 50%;
}

.eye-l {
    bottom: 30px;
    left: 10px;
    transform: rotate(25deg);
}

.eye-r {
    bottom: 63px;
    left: 72px;
    transform: rotate(-25deg);
}

.eyeball {
    position: relative;
    top: 8px;
    left: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}

.nose {
    position: relative;
    height: 8px;
    width: 15px;
    background-color: black;
    border-radius: 15px;
    bottom: 65px;
    left: 48px;
}

.hand-l, .hand-r {
    position:relative;
    width: 25px;
    height: 43px;
    background-color: black;
    border-radius: 30px;
}

.hand-l {
    transform: rotate(90deg);
    bottom: 130px;
    right: 11px;
    animation: wave 3s infinite;
    transform-origin: top;
}
@keyframes wave {
    50%{
        transform: rotate(120deg);
    }
}

.hand-r {
    transform: rotate(-90deg);
    bottom: 195px;
    left: 89px;
}

.leg-l, .leg-r {
    position: relative;
    background-color: black;
    width: 17px;
    height: 25px;
    border-radius: 0px 0px 30px 30px;
}

.leg-l {
    bottom: 153px;
    left: 15px;
}

.leg-r {
    bottom: 177px;
    left: 49px;
}

.shadow {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    height: 30px;
    width: 100px;
    border-radius: 50%;
    bottom: 195px;
    right: 10px;
}

.bamboo1 {
    position: relative;
    background-color: rgb(162, 218, 107);
    height: 180px;
    width: 20px;
    bottom: 380px;
    right: -95px;
    transform: rotate(-165deg);
    border-radius: 0 0 50px 50px ;

}

.bamboo2 {
    position: relative;
    background-color: rgb(108, 138, 79);
    height: 160px;
    width: 20px;
    bottom: 535px;
    right: -91px;
    transform: rotate(-165deg);
}

.bamboo3 {
    position: relative;
    background-color: rgb(162, 218, 107);
    height: 90px;
    width: 20px;
    bottom: 660px;
    right: -91px;
    transform: rotate(-165deg);
}

.bamboo4 {
    position: relative;
    background-color: rgb(108, 138, 79);
    height: 35px;
    width: 20px;
    bottom: 725px;
    right: -91px;
    transform: rotate(-165deg);
}

.circle {
    position: relative;
    border:  rgb(162, 218, 107) solid 2px;
    background-color: rgb(108, 138, 79);
    width: 15px;
    height: 15px;
    bottom: 844px;
    border-radius: 50px 50px 0  50px;
    transform: rotate(-125deg);
    left: 117px;

}

